<% if flash[:notice] %>
<p> <%=flash[:notice] %> </p>
<% end %>
<%= form_for @user, url: {action: "create"}, html: {method: "post"} do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %> <br>
    <%= f.label :email %>
  <%= f.text_field :email %>
<%= f.submit %>
<% end %>