<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
<p> <%=flash[:notice] %> </p><br>
<% end %>
<% if session[:user_id] %> <%@cur_user =User.find(session[:user_id])%> <p>Logged in as <%=@cur_user.username %> <% end %>
<%= yield %>

</body>
</html>
